.container {
    text-align: center;
    margin-top: 20px;
}

iframe {
        display: block;  /* iframes are inline by default */   
        width: 100%;  /* Set width to 100% of the viewport width */
        height: 100%;
        border:0; /* Remove default border */
        allowfullscreen: true;
}
