.container {
    text-align: center;
    margin-top: 20px;
}

iframe {
        display: block;  /* iframes are inline by default */   
        height: 100vh;  /* Set height to 100% of the viewport height */   
        width: 100vw;  /* Set width to 100% of the viewport width */     
        border: 1px; /* Remove default border */
        background: lightyellow; /* Just for styling */
}
