.container {
    text-align: center;
    margin-top: 20px;
}

iframe {
        display: block;  /* iframes are inline by default */   
        height: 600px;  /* Set height to 100% of the viewport height */   
        width: 100%;  /* Set width to 100% of the viewport width */     
        border:0; /* Remove default border */
        allowfullscreen: true;
        background: lightyellow; /* Just for styling */
}
