.od-full-page-rich-input .od-full-page-rich__title {
    color:black;
}

.od-full-page-rich-input .od-full-page-rich__subtitle {
    line-height: 24px;
    color: black;
}

.od-header {
    --od-header-background-gradient: none
}

.od-header .od-header-nav__logo img {
    margin-top: 10px;
    width: 70%;
    height: 70%;
}

.od-fp-form .od-fp-form__title {
    color: #000000;    
}
